<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./dist/style.css">
    <title>Free Cell</title>
</head>

<body>
    <div class="container" id="app">
        <div class="info">
            <div class="stats">
                <span class="info_space">
                </span>
                <span>TIME:</span>
                <span id="time">{{ minute >= 10? minute : `0${minute}` }}:{{ second >= 10? second : `0${second}`
                    }}</span>
                <span>MOVES:</span>
                <span id="moves">{{ moves }}</span>
            </div>
            <div class="functionButton">
                <div id="newGame" @click="newGameHandler">NEW GAME</div>
                <div id="restart" @click="restartHandler">RESTART</div>
                <div id="hint" @click="hint">HINT</div>
                <div id="undo" @click="undo">UNDO</div>
            </div>
        </div>
        <hr>
        <div class="top">
            <div class="tempSpace">
                <div v-for="(elem, index) in packs.temp" :key="elem" :ref="setTempRef" :id="`temp${index+1}`"
                    class="temp">
                    <div class="space_card"></div>
                    <div v-for="item in elem" :key="item.card" :ref="setCardRef" :id="item.card"
                        :style="item.styleObject"
                        :class="['card', {transition: isTransition, hoverHint: item.isHoverHint}]"
                        :data-type="item.type" :data-acceptCardType="item.acceptCardType" :data-suit="item.suit"
                        @mousedown="dragStart($event)" @mouseenter="hoverHint($event)"
                        @mouseleave="hoverHint($event, false)">
                    </div>
                </div>
            </div>
            <div class="logo">
                <img src="./F2E_W2_material/material/king_happy.png" alt="">
                <br>
                FREECELL
            </div>
            <div class="finalSpace">
                <div v-for="(elem,index) in packs.final" :key="elem" :ref="setFinalRef" :id="`final${index+1}`"
                    class="final" :class="[suits[index]]" @mouseenter="hoverHintForFinal($event)"
                    @mouseleave="hoverHintForFinal($event, false)">
                    <div class="space_card"></div>
                    <div v-for="item in elem" :key="item.card" :ref="setCardRef" :id="item.card"
                        :style="item.styleObject" :data-acceptCardType="item.acceptCardType"
                        :acceptCard="item.acceptCard"
                        :class="['card', {transition: isTransition, hoverHint: item.isHoverHint}]">
                    </div>
                </div>
            </div>
        </div>
        <div class="cardSpace">
            <div v-for="(elem, index) in packs.col" :key="elem" :ref="setColRef" :id="`col${index+1}`" class="col">
                <div class="space_card"></div>
                <div v-for="item in elem" :key="item.card" :ref="setCardRef" :id="item.card" :style="item.styleObject"
                    :class="['card', {transition: isTransition, hoverHint: item.isHoverHint}]" :data-type="item.type"
                    :data-acceptCardType="item.acceptCardType" :data-suit="item.suit" @mousedown="dragStart($event)"
                    @mouseenter="hoverHint($event)" @mouseleave="hoverHint($event, false)">
                </div>
            </div>
        </div>
        <div class="alert">
            <p>
                <span>若要移動牌堆至 <strong>非空欄</strong> ，目前最多可移動 <strong>{{ maxLength.nonEmpty }}</strong> 張牌，其中 m = (
                    空格數 +
                    1
                    )
                    X (
                    空欄數
                    + 1 )
                </span>
                <br>
                <span>若要移動牌堆至 <strong>空欄</strong> 時，目前最多可移動 <strong>{{ maxLength.empty }}</strong> 張牌，其中 n = ( 空格數 +
                    1 ) X
                    空欄數
                </span>
                <!-- <br>
            <span>{{ record.position }}</span>
            <br>
            <span>target: {{ mouseArea.pack }}[{{ mouseArea.packIndex }}]</span> -->
            </p>
        </div>
        <transition name="msg">
            <div class="msg" v-if="status.code !== 'inGame' && status.code !== 'init'">
                <div class="msg_box">
                    <div class="close" @click="closeHandler">X</div>
                    <img :src="`./F2E_W2_material/material/king_${status.info.img}.png`" alt="">
                    <h3>{{ status.info.title }}</h3>
                    <p>{{ status.info.content }}</p>
                    <div class="buttons">
                        <div v-for="(item, index) in status.info.button" :key=index class="button"
                            @click="item.function">{{ item.content }}</div>
                    </div>
                </div>
            </div>
        </transition>
        <div class="loadingFrame" ref="loadingFrame">
            <div class="circle"><span>Loading...</span></div>
        </div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script type="module" src="./index.js"></script>
</body>

</html>